
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Muli:300,400|Nunito+Sans:400,600,700|Nunito:400,600|Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');


html,
body{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #0b333c;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p,li{
    font-size: 1rem;
    display: block;
    line-height: 1.7em;  
    font-weight: 300;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

b{
  font-weight: 600;
}

/*--- Nav memu ---*/
.navbar {
  padding: 10px 0;
  z-index: 999;
}

.navbar-brand {
  font-family: 'Paytone One', sans-serif;
  font-weight: 400;
  color: #fff !important;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.navbar-toggler span {
    color: #85CB33;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}

.navbar.compressed {
  padding: 0;
  background-color: #002f3d;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-brand .sb {
  color: #85CB33; 

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #85CB33;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  color: #fff;
  text-decoration: none;
  outline: none;
  margin: 10px;
  border-bottom: 1px solid transparent;
  letter-spacing: 2px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar.compressed.navbar-light .navbar-nav .nav-link {
    font-size: 0.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #85CB33;
}

.nav-item .contactos {
    font-family: 'Nunito Sans', sans-serif !important;
    border-radius: 20px;
    color: #fff!important;
    background-color: #85CB33;
    font-weight: 700 !important;
}

.nav-item i{
  margin:0 5px;
  color: #fff;
  font-weight: 700 !important;
}

.nav-item .contactos:hover{
  background-color: #77b72d;
}

/*--header--*/

.headerBanner{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
}

.imgHeader{
  padding: 0 !important;
}

.top-hederText li{
  color: #fff;
  font-size: 1.2rem;
}

.top-hederText i{
  margin-right: 10px;
  color: #77b72d;
  font-weight: 600;
}

.h1 h1{
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 10px 0;
  font-style: normal;
  color: #fff;
}

.links{
  margin-top: 30px;
}

.links .button{
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.8rem;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.black:hover{
  background-color: #77b72d;
}

.green:hover{
  background-color: #fff;
}

.button.green{
  border: 1px solid #85CB33;
  color: #85CB33;
}


.header-img img{
  margin-bottom: 20px;
}

/*--webpackages--*/

.pacotesWeb{
  padding-top: 120px;
}

.webpack{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding: 70px 0;
    border-radius: 20px;
    color: #fff;
}

.webpack h2{
  color: #fff !important;
}

.webpack h3{
  font-size: 1.3rem;
  max-width: 60rem;
  font-weight: 400;
  margin: 0 auto;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 5px;
}

.webpack p{
  padding: 20px 0 30px 0;
  max-width: 50rem;
  margin: 0 auto;
}

.btnWebpack{
  font-family: 'Nunito Sans', sans-serif !important;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff!important;
  background-color: #85CB33;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 1rem;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.btnWebpack:hover{
   text-decoration: none;
   background-color: #77b72d;
}

/*--workTogether--*/

.workTogether {
  padding: 100px 0;
}

.titleTop h2{
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
  font-weight: 500;
  color: #0b333c;
  font-size: 2rem;
}

.service-icon{
  padding-right: 10px;
  font-weight: 300;
}

.sub-serv{
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  color: #85CB33;
  font-family: 'Raleway', sans-serif;
}

.sub-serv h3{
  font-weight: 600;
  font-size: 1.4rem;
}

.box h4{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  padding: 10px 0;
  font-weight: 600;
  color: #0b333c;
}

.box p{
  text-align: justify;
}

.firstOne{
  margin-bottom: 30px;
}

/*--footer--*/

.footer{
  padding: 55px 0;
  background-color: #85CB33;
}

.footer h2{
  color: #002f3d;
}

.footer h3{
  color: #fff;
  max-width: 40rem;
  margin: 0 auto;
}


.footer a{
  color: #fff;
  background-color:#002f3d;
  margin-top: 30px; 
  text-transform: uppercase;
  font-weight: 700;
}

.footer a:hover{
  background-color: #194350;
}

/*---footer last----*/

.footerLast{
  padding: 55px 0;
  background-color: #002f3d;
}

.footerLast h2, .footerLast p{
  color: #fff;
}

.footerLast p{
  font-size: 1.2rem;
  font-weight: 600;
}


.social li{
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 3rem;
  color: #fff;
  background-color: #85CB33;
  position: relative;
  transition: .5s ease-in-out;
  z-index: 1;
}

.social li:before{
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #002f3d;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}

.social li:hover:before{
   transform: scale(1);
}

.social li:hover{
  color: #85CB33;
}

.social {
  margin-top: 50px;
}

.sbmozmedialast{
  margin-top: 80px;
  color: #fff;
}

.contactt li{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-weight: 600;
}

.contactt i{
  margin-right: 3px;
}




/*-------------------ABOUT HTML-------------------*/

.header-banner{
  background-image: url('../img/topheader.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  height: 500px;
  align-items: center;
}

.topOther h1{
  color: #fff;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 300;
  display: block;
}

.topOther span{
  font-weight: 900;
  color: #85CB33;
}

.aboutUs h2{
 font-size: 2rem;
}

.about p{
  color: #fff;
  font-size: 1.2rem;

}

.aboutUs{
  padding: 60px 0;
}

.aboutUs p{
  max-width: 50rem;
  margin: 0 auto;
}

/*----mvv----*/
.mvv{
  padding-bottom: 60px;
}

.boxM{
  background-color: #f1f1f1;
  max-width: 50rem;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border-left: 7px solid #85CB33;
}

.boxM h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/*------------------------SOLUTIONS INDEX----------------------*/

.solutionsmp{
  padding: 60px 0;
}

.solutionsmp h2{
  max-width: 50rem;
  margin: 0 auto;
}


.solbox{
  margin-top: 35px;
}

.websol{
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #000033;
  color: #fff;
}

.money{
   font-family: 'Raleway', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   padding: 10px;
}

.websoll{
  background-color: #85CB33;
  color: #fff;
}


/*---------------------------CONTACT FORM--------------------------*/

.getIn{
  margin-bottom: 40px;
}

.contactForm{
  padding: 60px 0;
}

.btn-primary{
  margin-top: 30px;
  background-color: #85CB33;
  border-color: #85CB33;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #77b72d;
}

.control-label{
  font-weight: 600;
}

.sbabout {
  font-weight: 400;
  font-size: 2.3rem;
  color: #85CB33;
  font-family: 'Paytone One', sans-serif;
}

/*-------------------------------PORTFOLIO HTML--------------------------------*/

.port{
  padding: 60px 0;
}

.port h2{
  max-width: 50rem;
  margin: 0 auto;
}

.port .row{
  margin-top: 30px;
}

.workrow{
  padding: 30px 0 5px 0;
}

.port-img{
  box-shadow: 7px 10px 8px 10px #888888;
  width: 541px;
  height: 350px;
  overflow: hidden;
}
  
.last{
  margin-bottom: 50px;
}

.imagem{
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  cursor: pointer;
  
}

.imagem:hover{
  transform: scale(1.2);
}

/*-----------------------BLOG--------------------------------*/

.blog.header-banner{
  height: 100vh;
}

.blog h1{
  text-align: center;
  font-size: 6rem;
  font-weight: 300;

}
/*------------------------MEDIA QUERIES-------------------------*/


 @media screen and (max-width: 768px) {

    .navbar {
      border-bottom: 1px solid #85CB33;
      padding: 0px;
    }
    .navbar-brand {
      font-size: 1.3rem;
      margin-left: 20px;
      padding-bottom: 0rem;
   }
    
    .navbar .container{
      text-align: center;
    }
    .nav-item {
      background: #000033;
      text-align: center;
    }

    .imgHeader{
      display: none;
    }

    .top-hederText li{
      font-size: 1rem;
      margin: 20px 0;
      text-align: center;
    }

    .h1 h1{
      margin-top: -5px;
      font-size: 2rem;
      text-align: center;
    }

    .links .button{
      font-size: 0.7rem;
      display: block;
      margin-right: 40px;
      text-align: center;
      margin: 20px auto;

  }

   .pacotesWeb{
    padding: 35px 0;
   }

    .webpack h3{
        font-size: 1rem;
        padding: 0 10px;

    }

    .workTogether{
      padding: 30px;
    }

    .firstOne{
      margin-bottom: 0px;
    }


    .workTogether .box{
      margin-bottom: 35px;
    }

    .workTogether h3, .workTogether h4, .workTogether p{
      text-align: center;
    }

    .titleTop h2{
      font-size: 25px;
    }

    .sub-serv h3{
      font-size: 1.2rem;
    }

    .box h4{
      font-size: 1rem;
    }

    /*--footer---*/

    .footer, .footerLast{
      padding: 30px 0;
    }

    .footer h3{
      font-size: 1.3rem;
    }

    .footer a{
      font-size: 0.8rem;
    }

    .social li{
      font-size: 1.5rem;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin:0 10px;
    }

    .sbmozmedialast li{
      margin-bottom: 10px;
    }

    /*---About---*/
    
    .header-banner{
      height: 350px;
    }

    .aboutUs{
      padding: 40px 0;
    }

   .topOther h1{
      font-size: 1.5rem;
    }

    .titleTop h2{
      font-size: 1.3rem;
    }

    .boxM h3{
      font-size: 1.2rem;
    }
    
    .solutionsmp{
      padding: 60px 0;
    }

    .websol{
      font-size: 1.3rem;
    }

    .money{
      font-size: 1.5rem;
    }
        
    /*-----Portfolio------*/
    .port-img{
      display: block;
    }

    .header-img{
      margin-top: -70px;
    }

    .contactForm h2{
      margin-top: 5px;
    }

 }

@media screen and (max-width: 400px) {
    
      .h1 h1{
        margin-top: -2px;
        font-size: 1rem;
      }

      .links .button{
        font-size: 0.7rem;

     }

     .btnWebpack{
      font-size: 0.5rem;
     }

     p,li{
      font-size: 0.8rem;
     }

     h3{
      font-size: 1rem !important;
     }

     h4{
      font-size: 0.9rem !important;
     }

     .footer h3{
        font-size: 1.1rem;
      }

      .footer a{
        font-size: 0.8rem;
      }

      .footerLast p {
        font-size: 0.8rem;
      }

      .social li{
        font-size: 1.3rem;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin:0 10px;
      }

   }



